.boldFont {
    font-weight: bold;
}

.normalFont {
    font-weight: normal;
}

.userContainer {
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid grey;
    background-color: whitesmoke;
}

.userContainer:hover {
    border: 1px solid rgb(83, 83, 255);
    background-color: rgb(182, 182, 255);
}

#header {
    text-align: center;
    padding: 2rem;
    background-color: rgb(232, 232, 232);
}

.postContainer {
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid grey;
    background-color: whitesmoke;
}